/* purple : B094EE */
/* blue : 96A7EE */

/* -------------
    HTML Components
   ------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

/* -------------
    Navbar
   ------------- */
.navbar {
  background-color: #20304C;
}

.navbar-default .navbar-nav>li>a {
    color: #DDDDDD;
}

.navbar li {
  text-transform: uppercase;
}

.navbar li.active {
  border-top: 3px solid #B8CBED;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #B8CBED;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #B8CBED;
  background-color: transparent;
}

/* -------------
    Sections
   ------------- */
section {
  padding-top: 80px;
  padding-bottom: 100px;
  color: #333333;
}

.section-header {
  text-align: center;
}

.section-title {
  font-size: 2.5em;
  font-weight: 500;
  padding-bottom: 5px;
}

.section-subtitle {
  font-style: italic;
  font-size: 2em;
  font-weight: 200;
  padding-bottom: 25px;
}

.section-intro {
  text-align: center;
  background-color: #B8CBED;
  padding-top: 150px;
  padding-bottom: 150px;
}

.section-exp {
  text-align: center;
}

.section-skills {
  text-align: center;
  background-color: #F7F7F7;
}

.section-contact {
  text-align: center;
  background-color: #B8CBED;
}
