/* -------------
    HTML Components
   ------------- */
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

.row-experience {
    padding: 20px;
}

/* -------------
    Navbar
   ------------- */
.navbar {
    background-color: #FFFFFF;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #333333;
}

.navbar li {
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar li.active {
    border-top: 3px solid #30518C;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #30518C;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #30518C;
    background-color: transparent;
}

.navbar li a {
    user-select: none;
    position: relative;
}

.avatar {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* -------------
    Sections
   ------------- */
section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    color: #333333;
}

.section-header {
}

.section-title {
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 5px;
}

.section-subtitle {
    font-style: italic;
    font-size: 2em;
    font-weight: 200;
    line-height: normal;
    padding-bottom: 25px;
}

.section-intro {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    rgba(0,0,0,0.55) url('../img/panorama.jpg') no-repeat center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #EFEFEF;
}

.section-exp {
}

.section-skills {
    background-color: #30518C;
    color: #EFEFEF;
}

.skill-canvas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-misc {
}

.section-contact {
    background-color: #30518C;
    color: #EFEFEF;
}

.misc_display {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 5%;
}

.misc_display_image {
    display: block;
}

.misc_display_body {
    background: rgba(255, 255, 255, 0.9);
    color: #30518C;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 220px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.misc_display_inner {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

.misc_display_body:hover {
    opacity: 1;
}

.misc_display_body h2 {
    margin-top: 0;
}

.misc_display_body p {
    margin-bottom: 1.5em;
}

/* -------------
    Ink (Ripple Effect)
   ------------- */
/* Ink styles - the elements which will create the ripple effect.
 * The size and position of these elements will be set by the JS code.
 * Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.
 */
.ink {
    display: block;
    position: absolute;
    background: #30518C;
    border-radius: 100%;
    transform: scale(0);
}

/* animation effect */
.ink.animate {
    animation: ripple 0.65s ease-out;
}

@keyframes ripple {
    /* scale the element to 250% to safely cover the entire link and fade it out */
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
