/* purple : B094EE */
/* blue : 96A7EE */

/* -------------
    HTML Components
   ------------- */
body {
  font-family: 'Open Sans', sans-serif;
}
hr {
  width: 100px;
  border-top-color: #93B3ED;
  border-top-width: thin;
}

/* -------------
    Navbar
   ------------- */
.navbar {
  padding-top: 10px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  background-color: #333333;
  text-align: center;
}

.navbar a {
  color: #EDEDED;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 8px;
}

.navbar li {
  list-style: none;
  display: inline;
}

.navbar a:hover {
  color: #93B3ED;
}

.navbar a.active {
  color: #93B3ED;
  border-top: 3px solid #93B3ED;
}

/* -------------
    Sections
   ------------- */
section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-header {
  text-align: center;
}

.section-title {
  font-size: 2.5em;
  font-weight: 500;
  padding-bottom: 5px;
}

.section-subtitle {
  font-style: italic;
  font-size: 2em;
  font-weight: 200;
  padding-bottom: 25px;
}

.section-intro {
  text-align: center;
  background-color: #F7F7F7;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-exp {
  text-align: center;
}

.section-skills {
  text-align: center;
  background-color: #F7F7F7;
}

.section-contact {
  text-align: center;
}
