<div class="container-fluid">

    <div class="row">
        <header class="section-header">
            <img src="{{ asset('/img/kdevouassoux_avatar_reduced.jpg') }}" class="avatar" alt="avatar"/>
            <h1>
                Kilian Devouassoux
            </h1>
            <h2 class="section-subtitle">
                Scrum master<br/>
                Ingénieur système<br/>
                Développeur full stack
            </h2>
            BLOPBLOP
            {{ 'foo.bar'|trans }}
            </p>
        </header>
    </div>
</div>