<div class="container-fluid">

    <div class="row">
        <header class="section-header">
            <img src="{{ asset('/img/kdevouassoux_avatar_reduced.jpg') }}" class="avatar" alt="avatar"/>
            <h1>
                {{ 'intro.title'|trans }}
            </h1>
            <h2 class="section-subtitle">
                {{ 'intro.subtitle'|trans|nl2br }}
            </h2>
            </p>
        </header>
    </div>
</div>