<div class="container">
    <div class="row title-misc">
        <div class="col-lg-12">
            <header class="section-header">
                <h2 class="section-title">
                    Divers
                </h2>
                <h3 class="section-subtitle">
                    Lorsque je m'éloigne d'un clavier
                </h3>
            </header>
        </div>
    </div>

    <div class="row content-misc">

        <a href="http://meylan-badminton.org/">
            <div class="misc_display">
                <img class="misc_display_image" src="{{ asset('img/bcm_logo.png') }}" alt="Badminton">
                <div class="misc_display_body">
                    <div class="misc_display_inner">
                        <h2>Badminton</h2>
                        <p>Joueur passioné, compétiteur régulier et trésorier</p>
                    </div>
                </div>
            </div>
        </a>

        <a href="https://www.flickr.com/photos/misterdev">
            <div class="misc_display">
                <img class="misc_display_image" src="{{ asset('img/flickr_logo.png') }}" alt="Photo">
                <div class="misc_display_body">
                    <div class="misc_display_inner">
                        <h2>Photo</h2>
                        <p>Photographe amateur</p>
                    </div>
                </div>
            </div>
        </a>

        <div class="misc_display">
            <img class="misc_display_image" src="{{ asset('img/travel_logo.png') }}" alt="Voyages">
            <div class="misc_display_body">
                <div class="misc_display_inner">
                    <h2>Voyages</h2>
                    <p></p>
                </div>
            </div>
        </div>

        <a href="https://www.netflix.com/">
            <div class="misc_display">
                <img class="misc_display_image" src="{{ asset('img/netflix_logo.png') }}" alt="Films/Séries">
                <div class="misc_display_body">
                    <div class="misc_display_inner">
                        <h2>Films/Séries</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>