<div class="container">

    <div class="row">
        <header class="section-header">
            <h2 class="section-title">
                Compétences
            </h2>
            <h3 class="section-subtitle">
                Professionnelles, techniques et relationnelles
            </h3>
        </header>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            &nbsp;
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>Update in progress</h3>
            <p>
                Un peu de teasing (en vrac) :<br />
                Node.js / MongoDB / Docker / Kubernetes / AWS / Angular / etc...
            </p>
            <p><i class="fa fa-3x fa-ellipsis-h"></i></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <canvas id="technicalChart" class="skill-canvas"></canvas>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <canvas id="professionalChart" class="skill-canvas"></canvas>
        </div>
    </div>