<div class="container">

    <div class="row">
        <header class="section-header">
            <h2 class="section-title">
                {{ 'skills.title'|trans }}
            </h2>
            <h3 class="section-subtitle">
                {{ 'skills.subtitle'|trans|nl2br }}
            </h3>
        </header>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            &nbsp;
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'maj.title'|trans }}</h3>
            <p>
                {{ 'maj.subtitle'|trans|nl2br }}
            </p>
            <p><i class="fa fa-3x fa-ellipsis-h"></i></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <canvas id="technicalChart" class="skill-canvas"></canvas>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <canvas id="professionalChart" class="skill-canvas"></canvas>
        </div>
    </div>
</div>