{% extends "layout.html.twig" %}

{% block content %}

    <section id="section-intro" class="section-intro">
        {% include 'sections/intro.html.twig' %}
    </section>

    <section id="section-exp" class="section-exp">
        {% include 'sections/experience.html.twig' %}
    </section>

    <section id="section-skills" class="section-skills">
        {% include 'sections/skills.html.twig' %}
    </section>

    <section id="section-misc" class="section-misc">
        {% include 'sections/misc.html.twig' %}
    </section>

    <section id="section-contact" class="section-contact">
        {% include 'sections/contact.html.twig' %}
    </section>

{% endblock %}