<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a class="scrollTo" href="#section-intro">Accueil</a>
                </li>
                <li>
                    <a class="scrollTo" href="#section-exp">Expériences</a>
                </li>
                <li>
                    <a class="scrollTo" href="#section-skills">Compétences</a>
                </li>
                <li>
                    <a class="scrollTo" href="#section-misc">Divers</a>
                </li>
                <li>
                    <a class="scrollTo" href="#section-contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>